#wrap {
	margin: 0 auto;
}

*.sr-only {
	display: none;
}

header {
	width: 90%;
	margin: 30px auto;
	background-color: rgb(255, 167, 167);
}

header > .upright {
	position: relative;
}

header > .upright > nav {
	position: absolute;
	top: 0;
	right: 0;
}

header > .upright > nav > ul {
	display: flex;
	flex-flow: row space-around;
}

header > .upright > nav > ul > li {
}

header > .upright > nav > ul > li > a {
	display: block;
	padding: 0 10px;
	font-size: 10px;
}

/* box */
header > .nav-container {
	width: 100%;
	margin: 0 auto;
}

/* nav */

header > .nav-container > .center {
	position: absolute;
	top: 50px;

	margin: 0 auto;

	width: 90%;
	height: 50px;
}

header > .nav-container > .center > nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header > .nav-container > .center > nav > .gnb {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

header > .nav-container > .center > nav > .gnb > .logo {
	display: block;
	width: 100px;
	height: 50px;
	margin-right: 80px;

	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;

	text-indent: -9999px;
}
header > .nav-container > .center > nav > .gnb > li {
	margin-left: 10px;
	font-size: 18px;
	font-weight: 800;

	height: 50px;
	line-height: 50px;
}
header > .nav-container > .center > nav > .gnb > li > a {
	padding: 0 10px;
}

/* search */
header > .nav-container > .center > nav > .rightbottom {
	display: flex;
	flex-flow: row nowrap flex-end;
	margin-right: 20px;
	padding: 2px 10px;
}

header > .nav-container > .center > nav > .rightbottom > input {
	width: 200px;
	height: 40px;
	font-size: 12px;
	text-indent: 20px;
	background-color: rgb(243, 243, 243);
	border-radius: 10px;
	border: none;
}

header > .nav-container > .center > nav > .rightbottom > .search {
	position: absolute;
	top: 15px;
	right: 50px;

	width: 20px;
	height: 20px;

	background-image: url(../images/ic_search.png);
	background-repeat: no-repeat;
	background-size: contain;

	text-indent: -9999px;
}

header > .nav-container > .center > nav > .rightbottom > .login {
	position: absolute;
	top: 15px;
	right: 3px;

	width: 20px;
	height: 20px;

	background-image: url(../images/ic_mypage.png);
	background-repeat: no-repeat;
	background-size: contain;

	text-indent: -9999px;
}

section {
	/* position: relative; */
}

.slides {
	position: relative;
	overflow: hidden;
	top: 100px;
	height: 500px;
}
.slides > .slides-container {
	display: flex;
	flex-flow: row nowrap;
	position: absolute;
	left: -900%;
	width: 2700%;
}

.slides > .slides-container > li {
	width: calc(100% / 27);
}

.slides > .slides-container > li:nth-child(odd) {
	background-color: pink;
}

.slides > .slides-container > li:nth-child(even) {
	background-color: skyblue;
}

.slides > .slides-container > li.slide-1 {
	background-image: url(./../images/visual-1.jpg);
}
.slides > .slides-container > li.slide-2 {
	background-image: url(./../images/visual-2.png);
}
.slides > .slides-container > li.slide-3 {
	background-image: url(./../images/visual-3.jpg);
}
.slides > .slides-container > li.slide-4 {
	background-image: url(./../images/visual-4.png);
}
.slides > .slides-container > li.slide-5 {
	background-image: url(./../images/visual-5.png);
}
.slides > .slides-container > li.slide-6 {
	background-image: url(./../images/visual-6.png);
}
.slides > .slides-container > li.slide-7 {
	background-image: url(./../images/visual-7.png);
}
.slides > .slides-container > li.slide-8 {
	background-image: url(./../images/visual-8.png);
}
.slides > .slides-container > li.slide-9 {
	background-image: url(./../images/visual-9.png);
}

.slides > .slides-container > li > a {
	display: block;
	height: 500px;
	text-indent: -99999px;
	line-height: 500px;
	text-align: center;
	font-size: 50px;
}

/* 이전, 다음 */
.slides > .slides-navigation {
	display: block;
	position: absolute;
	top: 50%;
	width: 38px;
	height: 64px;
	margin-top: -32px;
	text-indent: -99999px;
}
.slides > .slides-navigation.slides-prev {
	left: 10%;
	background-image: url(./../images/ic_prev7.png);
}

.slides > .slides-navigation.slides-next {
	right: 10%;
	background-image: url(./../images/ic_next7.png);
}

/* 진행바 */
.slides > .progress {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 50%;
	bottom: 20px;
	width: 150px;
	margin-left: -75px;
	font-size: 13px;
}

.slides > .progress:after {
	position: absolute;
	left: 50%;
	width: 100px;
	height: 2px;
	margin-left: -50px;
	background-color: #dedede;
	content: '';
}

.slides > .progress > .bar {
	position: absolute;
	left: 25px;
	top: 7px;
	z-index: 100;
	width: 0;
	height: 2px;
	text-indent: -9999px;
	background-color: #000;
}

/* 자동실행 원버튼 */
.slides > .slides-auto {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 18px;
	width: 20px;
	height: 20px;
	margin-left: 90px;
	text-indent: -9999px;
	background-image: url(./../images/icons.png);
	background-position: -62px -24px;
	cursor: pointer;
}

.slides > .slides-auto.pause {
	background-position: 0 -57px;
}